<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/chat/room.js"></script>
</head>
<body>
<main>
    <h1>Chatting Room</h1>
    <section id="chat-window">
        <h1>Chatting window</h1>
        <div>
            <div>
                <button class="btn-conn">접속</button>
            </div>
        </div>
        <div class="">
            <ul>
                <li>대화내용</li>
            </ul>
        </div>
        <div>
            <input type="text" disabled>
            <button class="btn-msg" disabled>전송</button>
        </div>
    </section>
</main>
</body>
</html>