<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rland.web.repository.CategoryRepository">

	<!-- <resultMap id="menuMap" type="kr.co.rland.web.entity.Menu">
		<result property="korName" column="KOR_NAME"/>
		<result property="engName" column="ENG_NAME"/>
		<result property="regDate" column="REG_DATE"/>
	</resultMap> -->
	
  <select id="findAll" resultType="Category">
    select
		*
    from category
  </select>
  
  
  <!-- <select id="findById" resultType="Menu">
      select
 		*
      from menu
      WHERE id=#{id}
   </select> -->
</mapper>