<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="menu"> -->
<mapper namespace="kr.co.rland.web.repository.MenuLikeRepository"> <!-- 구현하고자 하는 패키지 경로 작성 -->


    <insert id="save" parameterType="MenuLike">
        insert into menu_like (menu_id, member_id)
        values ( #{menuId}, #{memberId})
    </insert>



    <delete id="delete" parameterType="MenuLike">
        DELETE FROM menu_like
        where MEMBER_ID = #{memberId}
            AND MENU_ID = #{menuId}
    </delete>


</mapper> 