<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="menu"> -->
<mapper namespace="kr.co.rland.web.repository.MenuRepository"> <!-- 구현하고자 하는 패키지 경로 작성 -->

    <!-- <resultMap id="menuMap" type="com.example.demo.entity.Menu">
        <result property="korName" column="kor_name" />
        <result property="engName" column="eng_name" />
    </resultMap> -->

    <select id="findAll" resultType="MenuView">
        select
        *
        from (
            SELECT
                m.id AS id,
                m.kor_name AS kor_name,
                m.eng_name AS eng_name,
                m.price AS price,
                m.img AS img,
                m.reg_date AS reg_date,
                m.category_id AS category_id,
                COUNT(ml.menu_id) AS like_count,
                NVL( ml.member_id = #{memberId}, 0) `like`
            FROM
                (menu m
                LEFT JOIN menu_like ml ON (m.id = ml.menu_id))
             GROUP BY m.id
            ) mv
        <where>
            <if test="categoryId != null">
                and mv.category_id = #{categoryId}
            </if>
            <if test="query != null">
                and mv.kor_name like '%${query}%'
            </if>
        </where>
<!--        order by mv.reg_date desc-->
        limit #{offset}, #{size}
    </select>


    <select id="count" resultType="Integer">
        select 
        count(id)
        from menu_view
        <where>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="query != null">
                and kor_name like '%${query}%'
            </if>
        </where>
    </select>

    <!-- <select id="findAllByCategory" resultType="MenuView" >
      select
          *
      from menu_view
      where category_id = #{id}
    </select> -->
    <select id="findById" resultType="Menu">
        select
        *
        from menu
        WHERE id=#{id}
    </select>


    <insert id="save">
        insert into menu (kor_name, eng_name, price, img, category_id, reg_member_id)
        values ( #{korName}, #{engName}, #{price}, #{img}, #{categoryId}, #{regMemberId})
    </insert>

    <update id="update">
        update menu
        <set>
            <if test="korName!=null">kor_name = #{korName},</if>
            <if test="engName!=null">eng_name = #{engName},</if>
            <if test="price!=null">price =#{price},</if>
            <if test="img!=null">img=#{img},</if>
            <if test="categoryId!=null">category_id = #{categoryId}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM menu where id=#{id};
    </delete>


</mapper> 