<!DOCTYPE html>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout"
>
  <head>
    <link href="/css/components/user/login.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>

    <main layout:fragment="main">
      <section class="login-form">
        <h1 class="heading-7 text-align:center">Rland 회원가입</h1>
        <div>
          가입했다 치고
          <a href="" class="n-btn">로그인</a>
        </div>
      </section>
    </main>
  </body>
</html>
