<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>상품 수정</h1>
    <form action="edit" method="post">
        <fieldset>
            <legend>메뉴정보</legend>
            <div>
                <label>한글이름</label>
                <input type="text" name="korName" value="${menu.korName}" >
            </div>
            <div>
                <label>영어이름</label>
                <input type="text"name="engName" value="${menu.engName}">
            </div>
            <div>
                <label>가격</label>
                <input type="text" name="price" value="${menu.price}">
            </div>
            <div>
                <label>이미지</label>
                <input type="input" name="img" value="${menu.img}">
            </div>        
            <div>
                <label>분류</label>
                <input type="text" name="categoryId" value="${menu.categoryId}">
            </div>
        </fieldset>
        <div>
            <button>등록</button>
        </div>
    </form>
  </body>
</html>