<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>상품 등록</h1>
    <form action="reg" method="post">
        <fieldset>
            <legend>메뉴정보</legend>
            <div>
                <label>한글이름</label>
                <input type="text" name="korName" >
            </div>
            <div>
                <label>영어이름</label>
                <input type="text"name="engName">
            </div>
            <div>
                <label>가격</label>
                <input type="text" name="price">
            </div>
            <div>
                <label>이미지</label>
                <input type="input" name="img">
            </div>        
            <div>
                <label>분류</label>
                <input type="text" name="categoryId">
            </div>
            <div>
                <label>id</label>
                <input type="text" name="test.id">
            </div>
            <div>
                <label>aaa</label>
                <input type="text" name="aaa">
            </div>
            <div>
                <label>bbb</label>
                <input type="text" name="bbb">
            </div>
            <div>
                <label>ccc</label>
                <input type="text" name="ccc">
            </div>
        </fieldset>
        <div>
            <button>등록</button>
        </div>
    </form>
  </body>
</html>